In [1]:
import pandas as pd
data = pd.read_csv('todays_data.csv')

In [2]:
print(data)

    First Name  Country      Gender Academic Level
0    abdikhafar   Kenya        male  UnderGraduate
1           plp   Kenya  non_binary            NaN
2      milicent   Kenya      female  UnderGraduate
3      jeremiah   Kenya        male  UnderGraduate
4          emma   Kenya      female        Diploma
..          ...     ...         ...            ...
348      curtis   Kenya        male      secondary
349      lameck   Kenya        male     HighSchool
350    anderson   Kenya        male            NaN
351      hedmon   Kenya        male  UnderGraduate
352     bernard   Kenya        male        Diploma

[353 rows x 4 columns]

In [3]:
data.describe()

       First Name  Country Gender Academic Level
count          353     353    353            350
unique         260       1      3              8
top          brian   Kenya   male  UnderGraduate
freq             7     353    259            204

In [4]:
data['Gender'].value_counts()

Gender
male          259
female         93
non_binary      1
Name: count, dtype: int64

In [5]:
data['Academic Level'].value_counts()

Academic Level
UnderGraduate    204
HighSchool        52
undergraduate     34
Diploma           33
secondary         15
diploma            7
PostGraduate       4
other              1
Name: count, dtype: int64

In [7]:
data['Academic Level'].value_counts()

Academic Level
UnderGraduate    204
HighSchool        52
undergraduate     34
Diploma           33
secondary         15
diploma            7
PostGraduate       4
other              1
Name: count, dtype: int64

In [9]:
data['Academic Level'].value_counts()

Academic Level
UnderGraduate    204
HighSchool        52
undergraduate     34
Diploma           33
secondary         15
diploma            7
PostGraduate       4
other              1
Name: count, dtype: int64

In [ ]:
graphs = data.value_counts('Gender')
graphs